#contact-list {
	margin-top: 3rem;
	li a {
		display: flex;
		padding: 0.8rem;
	}

	.contact-details {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: calc(100% - 3.5rem);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0.6rem 0.8rem;
	}

	p {
		color: var(--color-11);
		font-size: 0.8rem;
		font-weight: 300;
	}
	h3 {
		font-family: 'Neue Helvetica Medium';
		font-weight: normal;
		font-size: 1rem;
	}
}
