#sign,
#log-in {
	background-color: var(--color-06);

	height: 100vh;
	min-height: 550px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px 0px 11px #ccc;
		padding: 15px;
		letter-spacing: 0.1em;
		font-size: 0.8em;
		margin-bottom: 0.2rem;
		color: var(--color-07);

		.login-btn {
			color: var(--color-03);
			font-size: 1.2em;
			font-weight: bold;
			padding: 0 0.5rem;
			border-bottom: 1px solid var(--color-03);
			line-height: 1.5;
		}
	}
	.info {
		padding: 10px;
		margin-top: 0.8rem;
		font-size: 0.7em;
		text-align: center;
		opacity: 0.9;
		font-family: 'Neue Helvetica Extended';
		margin-bottom: auto;
	}
	form {
		display: flex;
		flex-direction: column;
		padding: 10px;
		height: 70%;
		.avatar {
			text-align: center;
			position: relative;
			border-radius: 50%;
			overflow: hidden;
			margin: 1rem auto;
			width: 9rem;
			height: 9rem;
			margin-top: 0;

			&.upload {
				#upload {
					opacity: 1;
				}
			}

			img {
				width: 100%;
				height: 100%;
				max-width: 9rem;
				margin-bottom: 0.5rem;
				object-fit: cover;
			}

			#camera,
			#upload {
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				padding: 2rem;
				background-color: rgba(0, 0, 0, 0.85);
				color: var(--color-07);
			}

			&:hover #camera {
				opacity: 1;
			}
		}

		.input-container {
			color: var(--color-07);
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 12px;
			padding-left: 4px;

			svg {
				margin-right: 0.8rem;
				opacity: 0.8;
			}

			& > div {
				position: relative;
				margin-right: 0.2rem;
				flex: 1 0;

				.input-info {
					transition: all 0.3s ease-in-out;
					font-size: 0.8rem;
					color: var(--color-08);
					margin-bottom: 0.2rem;
				}
				input {
					color: var(--color-12);
					width: 100%;
					font-size: 1rem;
					padding: 4px;
					border: none;
					outline: none;
					padding-left: 0;
					background-color: var(--color-06);
					font-weight: normal;
				}
				::placeholder {
					color: var(--color-12);
					opacity: 0.5;
				}
				#eye {
					width: 22px;
					height: 22px;
					position: absolute;
					right: 10px;
					margin: 0;
					cursor: pointer;
				}
				.border {
					position: absolute;
					bottom: 0;
					right: 0;
					left: 0;
					height: 2px;
					opacity: 0.5;
					background: var(--color-07);

					&::before {
						content: '';
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						background: var(--color-03);
						width: 0%;
						height: 2px;
						margin: auto;
						transition: all 0.3s ease-in-out;
					}
				}
				&:focus-within .border::before {
					width: 100%;
				}
			}
		}
		button {
			margin: 1rem auto;
			max-width: max-content;
			padding: 0.75rem 1.5rem;
			background: var(--color-03);
			color: var(--color-09);
			border: none;
			font-size: 0.95rem;
			border-radius: 3px;
			outline: none;
			transition: all 0.3s ease-in-out;
			min-width: 80%;
			&:hover {
				transform: scale(1.05);
			}
		}
		.username-length-error button,
		.username-exist button,
		.pin-length-error button {
			opacity: 0;
		}
	}

	.info-msg {
		margin-bottom: 1rem;
		text-align: center;

		a {
			color: var(--color-03);
			line-height: 1.8;
			padding: 0 0.2rem;
		}
	}

	&:not(.username-exist) .input-info.username-has,
	.input-container:focus-within .input-info.username-length,
	&:not(.username-length-error) .input-info.username-length,
	&:not(.pin-length-error) .input-info.pin-length,
	.input-container:focus-within .input-info.pin-length ,// Login Form */
	&:not(.invalid-criediancials) .input-info.invalid {
		padding: 0;
		font-size: 0px !important;
		margin: 0;
	}
	// .input-container:focus-within .input-info.username-length,
	// &:not(.pin-length-error) .input-info.pin-length,
	// &:not(.invalid-criediancials) .input-info.invalid-credentials,
	// .input-container:focus-within .input-info.pin-length,
	// .input-container:focus-within .input-info.invalid {

	// }

	input:focus:invalid ~ .border::before {
		background: var(--color-08);
	}
}
